@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0D0D11;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

body::-webkit-scrollbar {
  width: 0.9375rem;
}

body::-webkit-scrollbar-track {
  border: 0.0625rem solid rgba(61, 149, 244, 0.3490196078);
  background-color: #0D0D11;
  border-radius: 0.625rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(61, 149, 244, 0.6862745098);
  border-radius: 0.625rem;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  max-height: 3.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.09375rem;
  padding: 1rem 1.8125rem;
  background-color: #3D96F4;
  border-radius: 3.125rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
  background-color: rgba(129, 129, 139, 0.3);
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.125rem;
  padding: 0.75rem;
  border-radius: 2.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cart__title {
  position: relative;
  padding-bottom: 0.3125rem;
}

.cart__namber {
  width: 1.875rem;
  height: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 1.1730769231;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #9C9C9C;
}

.label {
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.7;
  padding: 0.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9C9C9C;
  display: inline-block;
  -webkit-animation: flip-scale-up-hor 6s infinite linear;
          animation: flip-scale-up-hor 6s infinite linear;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(41, 41, 48, 0.2);
  }

  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.1);
    background-color: rgba(41, 41, 48, 0.5);
    font-weight: 400;
    color: #bbb8b8;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(41, 41, 48, 0.2);
  }
}

@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(41, 41, 48, 0.2);
  }

  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.1);
    background-color: rgba(41, 41, 48, 0.5);
    font-weight: 400;
    color: #bbb8b8;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(41, 41, 48, 0.2);
  }
}

.item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  padding: 3.75rem 1.5625rem;
}

.item__icon {
  margin-bottom: 1rem;
}

.item__title {
  margin-bottom: 0.625rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.35;
}

.item__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #9C9C9C;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  background-color: rgba(0, 0, 0, 0.486);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-open .header__container::before {
  left: 0;
}

.header__logo {
  position: relative;
  z-index: 11;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-open .header__menu {
  left: 0;
}

.menu-open .header__menu::before {
  left: 0;
}

.header__cart {
  position: relative;
  z-index: 11;
}

.header__actions {
  z-index: 11;
}

.menu {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
  row-gap: 0.3125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__link {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625;
  position: relative;
  padding-bottom: 0.3125rem;
}

.menu__link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background: #3D96F4;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  min-width: 10rem;
}

.actions__button {
  position: relative;
  z-index: 2;
}

.footer__column-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  border-top: 0.0625rem solid rgba(129, 129, 139, 0.2);
  color: #9C9C9C;
}

.items-footer__logo:not(:last-child) {
  margin-bottom: 2rem;
}

.items-footer__sub-title {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9C9C9C;
}

.items-footer__sub-title:not(:last-child) {
  margin-bottom: 2rem;
}

.items-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.items-footer__social:not(:last-child) {
  margin-bottom: 2rem;
}

.items-footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  border: 0.0625rem solid #9C9C9C;
  border-radius: 50%;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.items-footer__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 1rem;
}

.items-footer__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
}

.items-footer__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.menu-footer__list {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625;
  color: #9C9C9C;
}

.menu-footer__list:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.menu-footer__link {
  position: relative;
  padding-bottom: 0.3125rem;
}

.menu-footer__link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background: #3D96F4;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  position: relative;
}

.form input {
  width: 100%;
  min-width: 10.3125rem;
  background-color: transparent;
  padding: 0.9375rem 2.125rem;
  outline: none;
  color: #FFFFFF;
  border: 0.0625rem solid #999999;
  border-radius: 3.125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form input:focus {
  background-color: rgba(61, 149, 244, 0.1725490196);
}

.form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #999999;
}

.form input::-moz-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #999999;
}

.form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #999999;
}

.form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #999999;
}

.form input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #999999;
}

.form ._form-error {
  border: 0.0625rem solid rgba(255, 0, 0, 0.3137254902);
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem rgba(255, 0, 0, 0.6431372549);
          box-shadow: 0.125rem 0.125rem 0.625rem rgba(255, 0, 0, 0.6431372549);
  background-color: rgba(255, 0, 0, 0.0901960784);
}

.form__error {
  display: none;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  opacity: 0;
  -webkit-transform: translate(-3.125rem);
      -ms-transform: translate(-3.125rem);
          transform: translate(-3.125rem);
}

.main__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translate(3.125rem);
      -ms-transform: translate(3.125rem);
          transform: translate(3.125rem);
}

.main__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.main.active .main__content,
.main.active .main__image {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0rem);
      -ms-transform: translate(0rem);
          transform: translate(0rem);
}

.image-main__img {
  overflow: hidden;
}

.image-main__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-main__title {
  position: relative;
  z-index: 0;
}

.content-main__title::before {
  position: absolute;
  top: -1.375rem;
  left: -2rem;
  content: url("../img/decor.svg");
  width: 7.625rem;
  height: 7.625rem;
}

.content-main__title:not(:last-child) {
  padding-bottom: 1.75rem;
}

.content-main__text:not(:last-child) {
  padding-bottom: 2.0625rem;
}

.content-main__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.625rem;
}

.content-main__button {
  min-width: 10rem;
}

.img1 {
  overflow: hidden;
  border-radius: 86%/49% 50% 50% 50%;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.img2 {
  border-radius: 50% 0 50% 50%;
}

.img3 {
  border-radius: 50% 50% 0 50%;
}

.img4 {
  overflow: hidden;
  border-radius: 86%/49% 50% 50% 50%;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0, 3.125rem);
      -ms-transform: translate(0, 3.125rem);
          transform: translate(0, 3.125rem);
}

.partners__title {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.partners__content ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(13, 13, 17, 0.4862745098)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(13, 13, 17, 0.4862745098) 8%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(13, 13, 17, 0.4862745098) 8%, rgba(0, 0, 0, 0) 100%);
}

.partners__content ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 115px;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, rgba(13, 13, 17, 0.5058823529)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, rgba(13, 13, 17, 0.5058823529) 8%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(270deg, rgba(13, 13, 17, 0.5058823529) 8%, rgba(0, 0, 0, 0) 100%);
}

.partners.active {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0rem);
      -ms-transform: translate(0, 0rem);
          transform: translate(0, 0rem);
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.services__content {
  opacity: 0;
  -webkit-transform: translate(-3.125rem);
      -ms-transform: translate(-3.125rem);
          transform: translate(-3.125rem);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.services__column:first-child {
  margin-top: 3.125rem;
}

.services__title {
  max-width: 32.5rem;
}

.services__text {
  max-width: 32.5rem;
}

.services__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(3.125rem);
      -ms-transform: translate(3.125rem);
          transform: translate(3.125rem);
}

.services__item {
  min-width: 17.5rem;
}

.services.active .services__items,
.services.active .services__content {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0rem);
      -ms-transform: translate(0rem);
          transform: translate(0rem);
}

.marketing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketing__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(-3.125rem);
      -ms-transform: translate(-3.125rem);
          transform: translate(-3.125rem);
}

.marketing__image::before {
  position: absolute;
  bottom: 0rem;
  left: -1.125rem;
  z-index: 2;
  content: url("../img/decor.svg");
  width: 7.625rem;
  height: 7.625rem;
  z-index: 0;
}

.marketing__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  opacity: 0;
  -webkit-transform: translate(3.125rem);
      -ms-transform: translate(3.125rem);
          transform: translate(3.125rem);
}

.marketing__items {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #9C9C9C;
}

.marketing__item {
  padding-left: 2.625rem;
  position: relative;
}

.marketing__item::before {
  position: absolute;
  top: -0.3125rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.3125rem;
  width: 2rem;
  height: 2rem;
  content: url(../img/ok.svg);
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 50%;
}

.marketing.active .marketing__content,
.marketing.active .marketing__image {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0rem);
      -ms-transform: translate(0rem);
          transform: translate(0rem);
}

.image-box_1 {
  overflow: hidden;
  border-radius: 109% 0% 65% 63%/62% 83% 43% 41%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.image-box_1 img {
  max-width: 100%;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.image-box_2 {
  overflow: hidden;
  border-radius: 50% 50% 50% 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.image-box_2 img {
  max-width: 100%;
}

.statistic {
  opacity: 0;
  -webkit-transform: translate(0, 6.25rem);
      -ms-transform: translate(0, 6.25rem);
          transform: translate(0, 6.25rem);
}

.statistic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.statistic__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.statistic__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(50% - 2rem);
}

.statistic__image {
  overflow: hidden;
  border-radius: 0 58% 50% 50%/52% 53% 47% 48%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.statistic__image img {
  max-width: 100%;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.statistic.active {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0rem);
      -ms-transform: translate(0rem);
          transform: translate(0rem);
}

.item {
  padding: 2.75rem 2.5rem;
}

.item__number {
  font-weight: 500;
  font-size: 3.1875rem;
  line-height: 1.1960784314;
  margin-bottom: 2rem;
}

.clients {
  opacity: 0;
  -webkit-transform: translate(0, 6.25rem);
      -ms-transform: translate(0, 6.25rem);
          transform: translate(0, 6.25rem);
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

.clients__cart-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clients.active {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0rem);
      -ms-transform: translate(0rem);
          transform: translate(0rem);
}

.content__body {
  max-width: 46.125rem;
}

.content__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cart-clients {
  padding: 4.0625rem 2.5rem;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
}

.cart-clients__box-name {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.cart-clients__icon {
  overflow: hidden;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.cart-clients__icon img {
  max-width: 100%;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.cart-clients__name {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

.cart-clients__company {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #9C9C9C;
}

.cart-clients__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.40625;
}

.cart-clients__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #9C9C9C;
  height: 100%;
}

.cart-clients__star-box {
  display: block;
}

.icon_01 {
  border-radius: 0 50% 50% 50%;
}

.icon_02 {
  border-radius: 50% 0 50% 50%;
}

.icon_03 {
  border-radius: 50% 50% 0 50%;
}

.blog {
  opacity: 0;
  -webkit-transform: translate(0, 6.25rem);
      -ms-transform: translate(0, 6.25rem);
          transform: translate(0, 6.25rem);
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

.blog.active {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0rem);
      -ms-transform: translate(0rem);
          transform: translate(0rem);
}

.content-blog__body {
  max-width: 46.125rem;
}

.content-blog__title {
  max-width: 25rem;
}

.content-blog__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cart-blog {
  border-radius: 1.5rem;
  background: rgba(129, 129, 139, 0.1);
  padding: 2.5rem 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-blog__avatar {
  overflow: hidden;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  padding-bottom: 49.1139240506%;
  margin: -2.5rem -1.625rem;
}

.cart-blog__avatar:not(:last-child) {
  margin-bottom: 1.25rem;
}

.cart-blog__avatar::before {
  content: attr(data-count);
  z-index: 2;
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 0;
  background: rgba(129, 129, 139, 0.7);
  border-top-right-radius: 0.625rem;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 2;
  padding: 1% 0.625rem;
}

.cart-blog__data {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(129, 129, 139, 0.9);
}

.cart-blog__data:not(:last-child) {
  margin-bottom: 1.25rem;
}

.cart-blog__title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #FFFFFF;
}

.cart-blog__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.cart-blog__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(129, 129, 139, 0.9);
  height: 100%;
}

.cart-blog__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.cart-blog__link {
  width: 31%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #3D96F4;
}

.cart-blog__link:not(:last-child) {
  margin-bottom: 2.5rem;
}

.business {
  opacity: 0;
}

.business__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  padding: 3.1875rem 0.625rem;
}

.business__content-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.business__content-business:not(:last-child) {
  margin-bottom: 1.25rem;
}

.business.active {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
}

.content-business__title {
  max-width: 22.5rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.40625;
  color: #FFFFFF;
}

.content-business__sub-title {
  max-width: 22.5rem;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
  color: #9C9C9C;
}

.content-business__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 81.875em) {
  .cart {
    gap: 0.625rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .header__container {
    gap: 2rem;
  }

  .footer__container {
    padding-top: 9.9375rem;
  }

  .footer__column-footer {
    gap: 4.0625rem;
  }

  .footer__copy {
    margin-top: 10rem;
  }

  .footer__copy {
    padding-top: 2.875rem;
  }

  .footer__copy {
    padding-bottom: 2.875rem;
  }

  .main {
    margin-bottom: 10rem;
  }

  .main {
    margin-top: 10rem;
  }

  .main__body {
    -webkit-column-gap: 9.375rem;
       -moz-column-gap: 9.375rem;
            column-gap: 9.375rem;
  }

  .main__image {
    gap: 3.75rem;
  }

  .image-main__img:not(:last-child) {
    margin-bottom: 2rem;
  }

  .partners {
    margin-bottom: 8.25rem;
  }

  .services {
    margin-bottom: 8.25rem;
  }

  .services__label {
    margin-bottom: 1.25rem;
  }

  .services__title {
    margin-bottom: 1.875rem;
  }

  .services__text {
    margin-bottom: 3.125rem;
  }

  .services__items {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .marketing__container {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .marketing__container {
    margin-bottom: 12.1875rem;
  }

  .marketing__label {
    margin-bottom: 2.6875rem;
  }

  .marketing__title {
    margin-bottom: 2.5rem;
  }

  .marketing__text {
    margin-bottom: 2.1875rem;
  }

  .marketing__item {
    padding-bottom: 1.25rem;
  }

  .statistic__container {
    margin-bottom: 12rem;
  }

  .clients__container {
    margin-bottom: 12rem;
  }

  .clients__content {
    margin-bottom: 4rem;
  }

  .clients__items {
    gap: 2.8125rem;
  }

  .content {
    gap: 1.25rem;
  }

  .content__label {
    margin-bottom: 1.875rem;
  }

  .cart-clients__box-name {
    margin-bottom: 2.1875rem;
  }

  .cart-clients__title {
    margin-bottom: 2.1875rem;
  }

  .cart-clients__text {
    margin-bottom: 2.1875rem;
  }

  .blog__container {
    margin-bottom: 12rem;
  }

  .blog__content {
    gap: 1.25rem;
  }

  .blog__content {
    margin-bottom: 4rem;
  }

  .blog__items {
    gap: 3rem;
  }

  .content-blog__label {
    margin-bottom: 1.875rem;
  }

  .business__container {
    margin-bottom: 6rem;
  }
}

@media (max-width: 20em) {
  .cart {
    gap: 0.1875rem;
  }

  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .header__container {
    gap: 0.625rem;
  }

  .footer__container {
    padding-top: 4.6875rem;
  }

  .footer__column-footer {
    gap: 1.25rem;
  }

  .footer__copy {
    margin-top: 3.125rem;
  }

  .footer__copy {
    padding-top: 1.25rem;
  }

  .footer__copy {
    padding-bottom: 1.25rem;
  }

  .main {
    margin-bottom: 4.375rem;
  }

  .main {
    margin-top: 4.375rem;
  }

  .main__body {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .main__image {
    gap: 1.875rem;
  }

  .image-main__img:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .partners {
    margin-bottom: 6.25rem;
  }

  .services {
    margin-bottom: 6.25rem;
  }

  .services__label {
    margin-bottom: 0.3125rem;
  }

  .services__title {
    margin-bottom: 0.9375rem;
  }

  .services__text {
    margin-bottom: 1.25rem;
  }

  .services__items {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }

  .marketing__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .marketing__container {
    margin-bottom: 4.6875rem;
  }

  .marketing__label {
    margin-bottom: 0.9375rem;
  }

  .marketing__title {
    margin-bottom: 0.625rem;
  }

  .marketing__text {
    margin-bottom: 0.625rem;
  }

  .marketing__item {
    padding-bottom: 0.625rem;
  }

  .statistic__container {
    margin-bottom: 4.6875rem;
  }

  .clients__container {
    margin-bottom: 4.6875rem;
  }

  .clients__content {
    margin-bottom: 1.25rem;
  }

  .clients__items {
    gap: 1.25rem;
  }

  .content {
    gap: 0.625rem;
  }

  .content__label {
    margin-bottom: 0.625rem;
  }

  .cart-clients__box-name {
    margin-bottom: 0.9375rem;
  }

  .cart-clients__title {
    margin-bottom: 0.9375rem;
  }

  .cart-clients__text {
    margin-bottom: 0.9375rem;
  }

  .blog__container {
    margin-bottom: 4.6875rem;
  }

  .blog__content {
    gap: 0.625rem;
  }

  .blog__content {
    margin-bottom: 1.25rem;
  }

  .blog__items {
    gap: 0.9375rem;
  }

  .content-blog__label {
    margin-bottom: 0.625rem;
  }

  .business__container {
    margin-bottom: 2.8125rem;
  }
}

@media (max-width: 81.875em) {
  .services__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 74.6875em) {
  .statistic__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .statistic__image {
    margin: 0 auto;
  }
}

@media (max-width: 61.99875em) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .footer__column-footer {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }

  .column-footer__items:first-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .column-footer__items:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.5rem;
    line-height: 1.275;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 10;
    height: 5.625rem;
    background-color: #0D0D11;
  }

  .header__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    z-index: 5;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__cart {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu {
    overflow: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 1.25rem;
  }

  .menu__list {
    display: block;
    text-align: center;
    padding-top: 6.25rem;
  }

  .menu__link {
    font-size: 2rem;
    line-height: 2.875;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-main__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__column {
    margin-top: 2rem;
  }

  .services__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .marketing__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .statistic__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .statistic__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .clients__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cart-clients {
    width: 100%;
  }

  .blog__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cart-blog__avatar::before {
    height: 27%;
  }

  .business__body {
    padding: 1.3125rem 0.625rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header__container::before {
    height: 4.6875rem;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 2.5rem;
    height: 2.5rem;
  }

  .header__logo img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .content-business__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (gap: clamp( 0.1875rem , 0.0460858586rem  +  0.7070707071vw , 0.625rem )) {
    .cart {
      gap: clamp( 0.1875rem , 0.0460858586rem  +  0.7070707071vw , 0.625rem );
    }
}

@supports not (gap: clamp( 0.1875rem , 0.0460858586rem  +  0.7070707071vw , 0.625rem )) {
    .cart {
      gap: calc(0.1875rem + 0.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .header {
      padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .header {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .header__container {
      gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .header__container {
      gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 4.6875rem , 2.990530303rem  +  8.4848484848vw , 9.9375rem )) {
    .footer__container {
      padding-top: clamp( 4.6875rem , 2.990530303rem  +  8.4848484848vw , 9.9375rem );
    }
}

@supports not (padding-top: clamp( 4.6875rem , 2.990530303rem  +  8.4848484848vw , 9.9375rem )) {
    .footer__container {
      padding-top: calc(4.6875rem + 5.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem )) {
    .footer__column-footer {
      gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem )) {
    .footer__column-footer {
      gap: calc(1.25rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 10rem )) {
    .footer__copy {
      margin-top: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 10rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 10rem )) {
    .footer__copy {
      margin-top: calc(3.125rem + 6.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7247474747rem  +  2.6262626263vw , 2.875rem )) {
    .footer__copy {
      padding-top: clamp( 1.25rem , 0.7247474747rem  +  2.6262626263vw , 2.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7247474747rem  +  2.6262626263vw , 2.875rem )) {
    .footer__copy {
      padding-top: calc(1.25rem + 1.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7247474747rem  +  2.6262626263vw , 2.875rem )) {
    .footer__copy {
      padding-bottom: clamp( 1.25rem , 0.7247474747rem  +  2.6262626263vw , 2.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7247474747rem  +  2.6262626263vw , 2.875rem )) {
    .footer__copy {
      padding-bottom: calc(1.25rem + 1.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem )) {
    .main {
      margin-bottom: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem )) {
    .main {
      margin-bottom: calc(4.375rem + 5.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem )) {
    .main {
      margin-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem );
    }
}

@supports not (margin-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem )) {
    .main {
      margin-top: calc(4.375rem + 5.625 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem )) or (column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem ))) {
    .main__body {
      -webkit-column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem );
         -moz-column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem );
              column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem )) or (column-gap: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem ))) {
    .main__body {
      -webkit-column-gap: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.875);
              column-gap: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem )) {
    .main__image {
      gap: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.2689393939rem  +  3.0303030303vw , 3.75rem )) {
    .main__image {
      gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .image-main__img:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .image-main__img:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 5.6035353535rem  +  3.2323232323vw , 8.25rem )) {
    .partners {
      margin-bottom: clamp( 6.25rem , 5.6035353535rem  +  3.2323232323vw , 8.25rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 5.6035353535rem  +  3.2323232323vw , 8.25rem )) {
    .partners {
      margin-bottom: calc(6.25rem + 2 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 5.6035353535rem  +  3.2323232323vw , 8.25rem )) {
    .services {
      margin-bottom: clamp( 6.25rem , 5.6035353535rem  +  3.2323232323vw , 8.25rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 5.6035353535rem  +  3.2323232323vw , 8.25rem )) {
    .services {
      margin-bottom: calc(6.25rem + 2 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.009469697rem  +  1.5151515152vw , 1.25rem )) {
    .services__label {
      margin-bottom: clamp( 0.3125rem , 0.009469697rem  +  1.5151515152vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.009469697rem  +  1.5151515152vw , 1.25rem )) {
    .services__label {
      margin-bottom: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .services__title {
      margin-bottom: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .services__title {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .services__text {
      margin-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .services__text {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) or (column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem ))) {
    .services__items {
      -webkit-column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
         -moz-column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
              column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) or (column-gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem ))) {
    .services__items {
      -webkit-column-gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
              column-gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem )) or (column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem ))) {
    .marketing__container {
      -webkit-column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem );
         -moz-column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem );
              column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem )) or (column-gap: clamp( 0.625rem , -0.1426767677rem  +  3.8383838384vw , 3rem ))) {
    .marketing__container {
      -webkit-column-gap: calc(0.625rem + 2.375 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(0.625rem + 2.375 * (100vw - 20rem) / 61.875);
              column-gap: calc(0.625rem + 2.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 4.6875rem , 2.2632575758rem  +  12.1212121212vw , 12.1875rem )) {
    .marketing__container {
      margin-bottom: clamp( 4.6875rem , 2.2632575758rem  +  12.1212121212vw , 12.1875rem );
    }
}

@supports not (margin-bottom: clamp( 4.6875rem , 2.2632575758rem  +  12.1212121212vw , 12.1875rem )) {
    .marketing__container {
      margin-bottom: calc(4.6875rem + 7.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3718434343rem  +  2.8282828283vw , 2.6875rem )) {
    .marketing__label {
      margin-bottom: clamp( 0.9375rem , 0.3718434343rem  +  2.8282828283vw , 2.6875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3718434343rem  +  2.8282828283vw , 2.6875rem )) {
    .marketing__label {
      margin-bottom: calc(0.9375rem + 1.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.0189393939rem  +  3.0303030303vw , 2.5rem )) {
    .marketing__title {
      margin-bottom: clamp( 0.625rem , 0.0189393939rem  +  3.0303030303vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.0189393939rem  +  3.0303030303vw , 2.5rem )) {
    .marketing__title {
      margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1199494949rem  +  2.5252525253vw , 2.1875rem )) {
    .marketing__text {
      margin-bottom: clamp( 0.625rem , 0.1199494949rem  +  2.5252525253vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1199494949rem  +  2.5252525253vw , 2.1875rem )) {
    .marketing__text {
      margin-bottom: calc(0.625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports ( padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .marketing__item {
      padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not ( padding-bottom: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .marketing__item {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem )) {
    .statistic__container {
      margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem );
    }
}

@supports not (margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem )) {
    .statistic__container {
      margin-bottom: calc(4.6875rem + 7.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem )) {
    .clients__container {
      margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem );
    }
}

@supports not (margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem )) {
    .clients__container {
      margin-bottom: calc(4.6875rem + 7.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .clients__content {
      margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .clients__content {
      margin-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.7449494949rem  +  2.5252525253vw , 2.8125rem )) {
    .clients__items {
      gap: clamp( 1.25rem , 0.7449494949rem  +  2.5252525253vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.7449494949rem  +  2.5252525253vw , 2.8125rem )) {
    .clients__items {
      gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .content {
      gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .content {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .content__label {
      margin-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .content__label {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .cart-clients__box-name {
      margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .cart-clients__box-name {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .cart-clients__title {
      margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .cart-clients__title {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .cart-clients__text {
      margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .cart-clients__text {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem )) {
    .blog__container {
      margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem );
    }
}

@supports not (margin-bottom: clamp( 4.6875rem , 2.3238636364rem  +  11.8181818182vw , 12rem )) {
    .blog__container {
      margin-bottom: calc(4.6875rem + 7.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .blog__content {
      gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.422979798rem  +  1.0101010101vw , 1.25rem )) {
    .blog__content {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .blog__content {
      margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .blog__content {
      margin-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.2708333333rem  +  3.3333333333vw , 3rem )) {
    .blog__items {
      gap: clamp( 0.9375rem , 0.2708333333rem  +  3.3333333333vw , 3rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.2708333333rem  +  3.3333333333vw , 3rem )) {
    .blog__items {
      gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .content-blog__label {
      margin-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .content-blog__label {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 1.7821969697rem  +  5.1515151515vw , 6rem )) {
    .business__container {
      margin-bottom: clamp( 2.8125rem , 1.7821969697rem  +  5.1515151515vw , 6rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 1.7821969697rem  +  5.1515151515vw , 6rem )) {
    .business__container {
      margin-bottom: calc(2.8125rem + 3.1875 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #3375bd;
  }

  .cart:hover {
    background-color: rgba(61, 149, 244, 0.653);
  }

  .cart:hover .cart__namber {
    background-color: rgb(129, 129, 139);
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .items-footer__img:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .menu-footer__link:hover::after {
    width: 100%;
  }

  .form input:hover {
    border-color: #3D96F4;
  }

  .cart-blog__link:hover {
    text-decoration: underline;
  }
}